PUBLIC_SSH_KEY=REPLACE_WITH_EXISTING_PUBLIC_SSH_KEY
APP_SSH_PORT=2222
TESTER_SSH_PORT=2223
APP_MEMORY_LIMIT=170m
TESTER_MEMORY_LIMIT=170m
TEST_STAGES=html,pylint,integration
UPLOAD_FILE_NAME=variant7.txt
